numpy==1.23.5
nltk
paddlenlp>=3.0.0b2
https://bj.bcebos.com/v1/paddlenlp/models/community/paddlemix/appflow/paddlespeech/paddlespeech-0.0.1-py3-none-any.whl
opencc==1.1.6
matplotlib==3.7.5
scipy==1.12.0
