# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 24.9.2
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
aiohappyeyeballs=2.4.4=pypi_0
aiohttp=3.10.11=pypi_0
aiosignal=1.3.1=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.5.2=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
astor=0.8.1=pypi_0
astroid=3.2.4=py38h06a4308_0
asttokens=3.0.0=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=5.0.1=pypi_0
attrs=23.2.0=pypi_0
babel=2.17.0=pypi_0
backcall=0.2.0=pyhd3eb1b0_0
beautifulsoup4=4.13.4=pypi_0
black=22.8.0=pypi_0
bleach=6.1.0=pypi_0
ca-certificates=2025.2.25=h06a4308_0
cbor2=5.6.5=pypi_0
certifi=2025.4.26=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.4.2=pypi_0
click=8.1.8=pypi_0
comm=0.2.2=pypi_0
debugpy=1.8.14=pypi_0
decorator=5.2.1=pypi_0
defusedxml=0.7.1=pypi_0
diffusion=6.11.5=pypi_0
diffusion-core=0.0.71=pypi_0
dill=0.3.8=py38h06a4308_0
exceptiongroup=1.2.2=pypi_0
executing=2.2.0=pypi_0
fastjsonschema=2.21.1=pypi_0
filelock=3.13.1=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.5.0=pypi_0
fsspec=2024.6.1=pypi_0
h11=0.16.0=pypi_0
hf-xet=1.1.0=pypi_0
httpcore=1.0.9=pypi_0
httpx=0.28.1=pypi_0
huggingface-hub=0.31.1=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.5.0=pypi_0
importlib-resources=6.4.5=pypi_0
importlib_metadata=7.0.1=hd3eb1b0_0
ipykernel=6.29.5=py38h06a4308_0
ipython=8.12.3=pypi_0
ipython-genutils=0.2.0=pypi_0
isoduration=20.11.0=pypi_0
isort=5.11.5=pypi_0
jedi=0.19.2=pypi_0
jinja2=3.1.6=pypi_0
json5=0.12.0=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter-client=8.6.3=pypi_0
jupyter-events=0.10.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-server=2.14.2=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyter_core=5.7.2=py38h06a4308_0
jupyterlab=4.3.7=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.3=pypi_0
ld_impl_linux-64=2.40=h12ee557_0
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libsodium=1.0.18=h7b6447c_0
libstdcxx-ng=11.2.0=h1234567_1
markupsafe=2.1.5=pypi_0
matplotlib-inline=0.1.7=pypi_0
mccabe=0.7.0=pyhd3eb1b0_0
mistune=3.1.3=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.1.0=pypi_0
mypy-extensions=1.1.0=pypi_0
nbclient=0.10.1=pypi_0
nbconvert=7.16.6=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=py38h06a4308_0
networkx=3.1=pypi_0
notebook=7.3.3=pypi_0
notebook-shim=0.2.4=pypi_0
numpy=1.24.4=pypi_0
nvidia-cublas-cu11=11.11.3.6=pypi_0
nvidia-cuda-cupti-cu11=11.8.87=pypi_0
nvidia-cuda-nvrtc-cu11=11.8.89=pypi_0
nvidia-cuda-runtime-cu11=11.8.89=pypi_0
nvidia-cudnn-cu11=8.7.0.84=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-curand-cu11=10.3.0.86=pypi_0
nvidia-cusolver-cu11=11.4.1.48=pypi_0
nvidia-cusparse-cu11=11.7.5.86=pypi_0
nvidia-nccl-cu11=2.19.3=pypi_0
nvidia-nvtx-cu11=11.8.86=pypi_0
openssl=3.0.16=h5eee18b_0
opt-einsum=3.3.0=pypi_0
overrides=7.7.0=pypi_0
packaging=25.0=pypi_0
paconvert=3.0.1=pypi_0
paddlepaddle-gpu=3.0.0=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pypi_0
pathspec=0.12.1=pypi_0
pexpect=4.9.0=pypi_0
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=10.4.0=pypi_0
pip=24.2=py38h06a4308_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=4.3.6=pypi_0
prometheus-client=0.21.1=pypi_0
prompt-toolkit=3.0.51=pypi_0
propcache=0.2.0=pypi_0
protobuf=5.29.4=pypi_0
psutil=7.0.0=pypi_0
ptyprocess=0.7.0=pyhd3eb1b0_2
pure-eval=0.2.3=pypi_0
pycparser=2.22=pypi_0
pydantic=2.10.6=pypi_0
pydantic-core=2.27.2=pypi_0
pygments=2.19.1=pypi_0
pylint=3.2.7=py38h06a4308_0
python=3.8.20=he870216_0
python-dateutil=2.9.0post0=py38h06a4308_2
python-json-logger=3.3.0=pypi_0
pytz=2025.2=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.4.0=pypi_0
readline=8.2=h5eee18b_0
referencing=0.35.1=pypi_0
reprod-log=1.0.1=pypi_0
requests=2.32.3=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rpds-py=0.20.1=pypi_0
safetensors=0.5.3=pypi_0
scipy=1.10.1=pypi_0
send2trash=1.8.3=pypi_0
setuptools=75.3.2=pypi_0
six=1.17.0=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.7=pypi_0
sqlite=3.45.3=h5eee18b_0
stack-data=0.6.3=pypi_0
stringcase=1.2.0=pypi_0
structlog=21.5.0=pypi_0
sympy=1.13.3=pypi_0
terminado=0.18.1=pypi_0
timm=0.9.12=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.14=h39e8969_0
tomli=2.2.1=pypi_0
tomlkit=0.13.2=py38h06a4308_0
torch=2.2.2+cu118=pypi_0
torchaudio=2.2.2+cu118=pypi_0
torchvision=0.17.2+cu118=pypi_0
tornado=6.4.2=pypi_0
tqdm=4.67.1=pypi_0
traitlets=5.14.3=py38h06a4308_0
triton=2.2.0=pypi_0
types-python-dateutil=2.9.0.20241206=pypi_0
typing-extensions=4.13.2=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.2.3=pypi_0
wcwidth=0.2.13=pypi_0
webcolors=24.8.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
wheel=0.44.0=py38h06a4308_0
xz=5.6.4=h5eee18b_1
yarl=1.15.2=pypi_0
zeromq=4.3.5=h6a678d5_0
zipp=3.20.2=py38h06a4308_0
zlib=1.2.13=h5eee18b_1
