paddlenlp>=2.7.2
ppdiffusers>=0.24.0
scipy
safetensors
pyyaml
opencv-python
albumentations
fastcore
visualdl
requests
Pillow
cchardet
datasets
visualdl
einops
ligo-segments
opencv-python-headless<=4.3